/*
  ./src/styles/body.css
*/

/* Styles de base pour le corps */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  top: 20px;
  text-align: center;
}

/* Conteneur pour le corps de la page */
.containerBody {
  margin: 0 auto;
  padding: 50px;
}

/* Classe pour le texte du corps */
.bodyText {
  font-size: 100px;
  line-height: 1.6;
}

/* Classe pour les titres */
.bodyTitre {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 100px;
}
