/*
  src/App.css
*/

@import url('./styles/polices.css');
@import url('./styles/header.css');
@import url('./styles/body.css');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-primary: #D73953;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #a0a0a0;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --color-red: #cd3e65;
  --color-green: #08805b;
  --color-orange: #DC7F00;
  --color-homelaser: #ff4d00;

  --text-color: var(--color-black);

  --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-menu: 'Source Sans Pro Bold', sans-serif, 'Helvetica Neue', Helvetica, Arial;
  --font-family-titleName: 'Marshal-Risk', sans-serif, 'Helvetica Neue', Helvetica, Arial;

  /** NAVBAR **/
  --nav-item-font-family: var(--font-family-headings);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: .04rem;
  --nav-item-display: inline-block;
  --nav-item-margin: 0 0 0 2rem;
  --nav-item-link-hover: var(--color-primary);

  /** MOTION **/
  --transition-duration: .3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  font-style: italic;
}

a:hover {
  color: var(--color-orange);
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle-bar {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #DCE3EC;
  margin: 6px 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

/* Ajoute les styles pour la transformation en croix si nécessaire */
.menu-toggle.active .top-bar {
  transform: translateY(11px) rotate(45deg);
}

.menu-toggle.active .middle-bar {
  opacity: 0;

}

.menu-toggle.active .bottom-bar {
  transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .logo {
    max-height: 50px;
    width: auto;
    margin: 5px 0px 0px 20%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 767px) {
  :root {
    --nav-item-margin: 0;
  }

  .navbar-menu {
    display: none;
    flex: 1;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 5%;
    top: 12px
  }

  /* Lorsque le menu est actif, on l'affiche */
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    margin: 9px 0px 0px 0px;
    width: 100%;
    background: #2C2C2C;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    z-index: 99;
  }

  .nav-menu-item {
    margin-left: 0rem;
    padding: 0.5rem 1rem;
  }

  .nav-menu-link {
    padding: 0px;
    white-space: nowrap;
    /* Empêche le texte de passer à la ligne suivante */
  }
}

@media (prefers-color-scheme: dark) {
  .menu-toggle-bar {
    background-color: #DCE3EC; /* Couleur grise pour le thème sombre */
  }
}
